<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="pragram" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>后台管理</title>
    <link href="__PUBLIC__/Admin/css/style.css" rel="stylesheet" type="text/css">
    <link href="__PUBLIC__/Admin/css/iconfont.css" rel="stylesheet" type="text/css">
    <script src="__PUBLIC__/Admin/js/jquery-1.11.1.min.js"></script>
</head>
<body class="iframe-top" onselectstart="return false">
<div class="logo">
<!-- 	<a href="javascrit:;">
		<img src="__PUBLIC__/Admin/images/logo.png"/>
	</a> -->
</div>
<div class="personalInformation">
	<div class="messages">
		<a href="javascrit:;">
			<i class="iconfont">&#xe650;</i>
			<b class="color-bg-pink">3</b>
		</a>
	</div>
	<div class="messages">
		<a href="javascrit:;">
			<i class="iconfont">&#xe62d;</i>
			<b class="color-bg-yellow">3</b>
		</a>
	</div>
	<div class="headimg">
		<a href="javascrit:;">
			<img src="__PUBLIC__/Admin/images/headimg.jpg"/>
		</a>
	</div>
	<div class="personal-name">
		<a href="javascrit:;">
			<span>李木木</span>
		</a>
	</div>
	<a href="javascript:;" class="loginout">
		<i class="iconfont">&#xe67c;</i>
	</a>
</div>
</body>
</html>